.ChatListItem {
  cursor: pointer;
  padding: 10px;
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius-md);
  transition: color 0.3s ease;
}

.ChatListItem::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
  z-index: 0;
  border-radius: var(--border-radius-md);
}

.ChatListItem:hover::before {
  transform: scaleX(1);
}

.ChatListItem:hover {
  color: white;
}

.ChatListItem > * {
  position: relative;
  z-index: 1;
}
