.header {
  grid-area: header;
  display: flex;
  padding: 10px;
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: var(--border-radius-md);
}

.userControls {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 10px;
}

.logout {
  background: none;
  border: none;
  cursor: pointer;
}

.logout:hover {
  color: var(--color-red-300);
}
