.ChatList {
  padding: 10px;
  grid-area: list;
  background-color: var(--background-color);
  border-radius: var(--border-radius-md);
  height: fit-content;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list__item + .list__item {
  margin-top: 10px;
}
