:root {
  --primary-color: var(--color-purple-600);
  --secondary-color: var(--color-cyan-600);
  --accent-color: #14d9d9;
  --background-color: var(--color-yellow-50);
  --text-color: #333333;
  --border-radius: 4px;
  --border-radius-md: 8px;
}

/* [data-theme="dark"] {
  --primary-color: #1e1e1e;
  --secondary-color: #50e3c2;
  --background-color: #f5f7fa;
  --text-color: #333333;
  --border-radius: 4px;
}

[data-theme="light"] {
  --primary-color: #1e1e1e;
  --secondary-color: #50e3c2;
  --background-color: #f5f7fa;
  --text-color: #333333;
  --border-radius: 4px;
} */
