.ChatList {
  border: 2px solid black;
  padding: 10px;
  grid-area: list;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list__item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.list__item:hover {
  background-color: #f5f5f5;
}
