.mainLayout {
  padding: clamp(16px, 4vw, 40px);
  min-height: 100dvh;
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto 1fr;
  gap: clamp(12px, 2vw, 20px);

  grid-template-areas:
    "header header"
    "list   chat";
}

@media (max-width: 639px) {
  .mainLayout {
    padding: 0;

    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;

    grid-template-areas:
      "header"
      "chat"
      "menu";
  }
}
