.ChatMessageInput {
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: var(--border-radius-md);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  width: 100%;
  padding: 5px;
  color: white;
  border-radius: var(--border-radius);
}

.input:focus {
  outline: none;
  background-color: var(--background-color);
  color: black;
}
